* {
  font-size: 24px;
}
.answer-option.highlighted {
  background-color: lightgreen;
}

.answer-option.highlighted.error {
  background-color: lightcoral;
}

.answer-option {
  cursor: pointer;
  background-color: lightblue;
  width: 200px;
  height: 150px;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: black 1px solid;
}
.answer-option:last-child {
  border-bottom: none;
}